@charset "utf-8";
*{ box-sizing: border-box; }
*{
    padding:0;
    margin:0;
}

.parrelease {
     background-color: #e3dfdc;
     text-align: center; 
     display:flex;
    justify-content: center;    
     
}

.release {
    display:flex;
    justify-content: center;
     text-align: center;
     width:300px;
     background-color: #e3dfdc;
     font-size: medium;
     font-size: clamp(10px, 1vw, 32px);
     display: block;
  
   
     
}



.header1{
  
    padding: 15px 0 0;
    background-color: #fff5e0;

}

form {
    text-align: center;    
}


.a4_form{ 
    background-color: #e3dfdc;
    padding-left: 10px;
    padding-bottom: 50px;
    display:flex;
    justify-content: center;

    
}

.toptitle{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
}


.nav{
    width: 100%;
    margin-top: 20px;
    padding:10px 0 ;
    background-color:#1a0b08;
    color:#fff; 
}


a.none { text-decoration: none;}
a:visited { color: aliceblue;}

.nav ul{
    list-style-type: none;
    text-decoration: none;
    padding: 5px 0;
    display: flex;
    justify-content:  center;
}

.none:last-of-type {
    border-right: 1px solid #999;
}
.sevillana-regular {
    
}

.calc-btn {
    width: 80px;
    height: 30px;
    border: 1px solid #333;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: black;
    color:#fff;
}
.calc-btn:hover{
    cursor: pointer;
    
}


.box {
    box-sizing: border-box;
    width: 280px;
    height: 25px;
    margin-right: auto; 
    padding: 0 0px;
    
}

.box:focus{
    border: 1px solid #ccc;
}
.box1{
    background-color: #EEE;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#renunit { visibility: hidden; }   /* 非表示 */


.yoko {
    display: inline-block;
}

.clrbtn {
    width:60px;
    background-color: black;
    color:#fff;
    
}

.clbtnWidth {
     padding-left: 64px;
}

select option:nth-child(1) {
    color: #EEE;
}

.dtpadd{
    padding-right:200px;
}

form dt {
   display:flex;
   justify-content: left;
   padding-left: 60px;
   
}
     
